site/static/css/**
site/static/js/0.89c9000fbb66278720d8.js
site/static/js/730.e61bfba37e704eea6fba.js
site/static/js/app.9100e3d7c050cbdd1e48.js
site/static/js/manifest.min.js
site/static/js/vendor.min.js
site/static/js/select2.min.js
site/static/js/moment.min.js
